header {
    background-color: #232b3a;
    height: 100px;
    border-radius: 0 0 10px 10px;
    h2 {
        color: var(--primary-text-color);
        text-align: center;
        transform: translateY(20px);
    }

    h1 {
        font-size: 50px;
        font-weight: 100;
        color: var(--background-color);
        padding: 15px;
        transform: translateY(-20px);
    }

    .progress-bar {
        margin: 0 auto;
        width: 250px;
        display: grid;
        grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
        h3 {
            text-align: center;
            transform: translateY(-130px);
            font-size: 90px;
        } 

        .done {
            color: var(--primary-text-color);
        }

        .to-do {
            color: var(--background-color);
        }
    }    
}

footer {
    position: sticky;
    margin-top: 50px;
    border-radius: 10px 10px 0 0;
    background-color: #232b3a;
    width: 100%;

    display: flex;
    justify-content: center; 
    align-items: center;
    height: 100px;
    bottom: 0;

    input {
        width: 250px;
        color: var(--light-text-color);
        font-weight: bold;
        border: none;
        box-shadow: var(--primary-box-shadow);
        border-right: var(--alt-button-border);
        border-bottom: var(--alt-button-border);
        font-size: 25px;
        background-color: var(--tertiary-color);
        border-radius: var(--primary-border-radius);
        padding: 10px;
    }
}
