
<body>
    <div class="header">
        <img src="../../../assets/images/arrow-icon.png" class="back-arrow" routerLink="../">
        <h1>Settings</h1>
    </div>
    
    <div class="settings">
        <label>General</label>
        <ul class="general">
            
            <li class="general-li">Sound effects</li>
            <label class="toggle">
                <input type="checkbox">
                <span class="slider"></span>
            </label>
            <li class="general-li">Dark mode</li>   
            <label class="toggle">
                <input type="checkbox">
                <span class="slider"></span>
            </label>   
            <li class="general-li">Notifications</li>   
            <label class="toggle">
                <input type="checkbox">
                <span class="slider"></span>
            </label> 
            
        </ul>
        <ul class="language">
            <p>App language</p>
            <img src="../../../assets/images/flag_dutch.png" class="flag-dutch">
        </ul>
        <hr>
        <input type="button" value="Log out" class="logout-button">
    </div>
</body>