.header {
    display: grid;
    grid-template-columns: 25% auto;
    margin-top: 20px;
    .back-arrow {
        width: 35px;
        margin: 10px;
        margin-left: 20px;
        border: 2px solid #B972DB;
        border-radius: 10px;
        padding: 5px;
        
        &:active {
            filter: drop-shadow(3px 3px 2px #181e29);
        }
    }

    h1 { 
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        color: #B972DB;
        text-align: center;
        margin: 5px;
        font-size: 40px;
    }
}

.settings {
    margin-top: 50px;

    label {
        color: #B972DB;
        margin: 10px;
        font-size: 30px;
        font-weight: bold;
    }
    
    ul {
        display: grid;
        grid-template-columns: auto 30%;
        list-style-type: none;
        margin: 10px;
        background-color: rgba(37, 46, 63, 0.568);
        border-radius: 10px;
        padding: 10px;
    
        li {
            margin: 10px;
            color: #fff;
            font-size: 20px;
            align-items: center;
            transform: translateY(5px);
        }
        
        .toggle input {
            display: none;
            
        }

        .slider {
            position: relative;
            display: inline-block;
            width: 60px;
            height: 34px;
            background-color: #ccc;
            border-radius: 34px;
            transition: background-color 0.3s;
            transform: translateX(15px);
        }

        .slider:before {
            position: absolute;
            content: '';
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: #fff;
            border-radius: 50%;
            transition: transform 0.3s;
        }

        input:checked + .slider {
            background-color: #B972DB;
        }

        input:checked + .slider:before {
            transform: translateX(26px);
        }
    }
    
    .language {
        display: grid;
        grid-template-columns: auto 30%;
        
        p {
            margin: 10px;
            color: #fff;
            font-size: 20px;
            align-items: center;
        }
        .flag-dutch {
            width: 50px;
            margin-left: 30px;
            align-items: center;
            transform: translateY(3px);
        }
    }

    hr {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        height: 4px;
        background-color: rgba(37, 46, 63, 0.568);
        width: 90%;
        border: none;
        
        bottom: 100px;
    }

    .logout-button {
        position: absolute;
        left: 50%;
        bottom: 20px;
        transform: translateX(-50%);
        background-color: rgb(143, 18, 18);
        color: #fff;
        width: 80%;
        padding: 10px;
        font-size: 30px;
        border-radius: 10px;
        border-right: 5px solid rgb(105, 1, 1);
        border-bottom: 5px solid rgb(105, 1, 1);
        box-shadow: var(--primary-box-shadow);
        border-top: none;
        border-left: none;
    }
}
