<body>
    <div class="header">
        <img src="../../../assets/images/arrow-icon.png" class="back-arrow" routerLink="/theme">
        <h1>Seizoenen</h1>
    </div>
    <content>
        <div class="card summer" (click)="goToOverview('summer')">
            <h2>Zomer</h2>
        </div>
        <div class="card fall" (click)="goToOverview('fall')">
            <h2>Herfst</h2>
        </div>
        <div class="card winter" (click)="goToOverview('winter')">
            <h2>Winter</h2>
        </div>
        <div class="card spring" (click)="goToOverview('spring')">
            <h2>Lente</h2>
        </div>
    </content>
</body>