.header {
    display: grid;
    grid-template-columns: 25% auto;
    margin-top: 20px;
    .back-arrow {
        width: 35px;
        margin: 10px;
        margin-left: 20px;
        border-radius: 10px;
        padding: 5px;
        
        &:active {
            filter: drop-shadow(3px 3px 2px #181e29);
        }
    }

    h1 { 
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        color: #B972DB;
        text-align: center;
        margin: 5px;
        font-size: 40px;
        text-shadow: var(--primary-text-shadow);
    }
}

content {
    display: grid;
    grid-template-columns: 50% 50%;
    position: absolute;
    margin-left: auto;
    right: 8%;
    padding: 10px;
    margin-top: 30px;


    .card {
        margin: 10px;
        width: 130px;
        height: 250px;
        border-radius: 10px;
        box-shadow: var(--primary-box-shadow);

        input {
            background: none;
            border: none;
        }

        h2 {
            font-size: 45px;
            color: var(--light-text-color);
            text-shadow: var(--secondary-text-shadow);
            transform: rotate(90deg) translate(35%, 65%);
        }
    }

    .food {
        border: 3px solid #d64f4f;
        background-image: url("../../../assets/images/food.png");
        background-size: 175px, 300px;
    }

    .social {
        border: 3px solid #4C9B4A;
        background-image: url("../../../assets/images/social.png");
        background-size: 175px, 300px;
    }

    .directions {
        border: 3px solid #76A5AF;
        background-image: url("../../../assets/images/directions.png");
        background-size: 175px, 300px;
    }

    .seasons {
        border: 3px solid #afb83b;
        background-image: url("../../../assets/images/seasons.png");
        background-size: 175px, 300px;
        background-position: 50%;
    }
    
}