:root {
    // ---- colors ---- \\
    --primary-text-color: #B972DB;
    --light-text-color: #fff;
    --dark-text-color: rgb(99, 107, 182);
    --accent-text-color: rgb(231, 231, 231);

    --primary-color: #B972DB;
    --secondary-color: #cca4df;
    --tertiary-color: rgb(31, 182, 31);

    --background-color: #3B4861;

    --dark-button-border: 5px solid #4F0D6F;
    --alt-button-border: 5px solid #0f580f;

    --primary-theme-color: #E3C2C2;
    --primary-accent-color: #CF9393;
    --secondary-theme-color: #ACDDAA;;
    --secondary-accent-color: #4C9B4A;
    --tertiary-theme-color: #9BDAE8;
    --tertiary-accent-color: #76A5AF;
    --quaternary-theme-color: #F1F5BC;
    --quaternary-accent-color: #BCBF8F;

    --summer-color: #4fd64f;
    --fall-color: #dd9a35;
    --winter-color:#76A5AF;
    --spring-color: #ffc0cb;
    // ---- Default values ---- \\
    --normal-thickness: 10px;
    --thin-thickness: 5px:
    --thick-thickness: 15px;

    --primary-border-radius: 10px;

    // ---- Shadows ---- \\
    --primary-text-shadow: 5px 5px 5px #252e3f;
    --secondary-text-shadow: 2px 2px 5px #252e3f;
    --primary-box-shadow: 5px 5px 15px #252e3f;
    --secondary-box-shadow: 0px  0px 60px #090e16;

}
@font-face {
    font-family: 'Itim';
    src: url('assets/fonts/Itim-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: Itim;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
}